/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/** essential title and navigaton CSS**/
html {
	font-size: 14px;
}

main {
	margin-top: 180px;
	margin-bottom: 75px;

}

#box-container {
	background-color: #656565;
	/*padding: 30px;*/
}



*{
	box-sizing: border-box;
}



nav ul {
	text-align: right;

}

.socnav ul {
	text-align: left;

}


nav ul li {
	display: inline;

}


body {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 80px;
	background-color: #656565;
	background: url(../img/background.png) repeat;
}

header {
	position: fixed;
	z-index: 10;
	background: transparent;
	min-width: 100%;
	top: 0;
}

h2 {
	margin-top: 5px;
	padding-left: 15px;
	color: #9ff7e6;
}

.navbar-header {
	float: right;
}

.profile {
	float: left;
	max-width: 375px;
	max-height: 375px;
	padding: 15px 10px 10px 10px;
}

.bio{
	color:#9ff7e6;
	padding-top: 15px;
}

@supports (position: sticky) {
	body {
		padding-top: 0;
	}

	header {
		position: sticky;
	}

}



.navbar {
	position: relative;
	height: 100px;
	width: 100%;
	transition: 0.5s ease;
}

.navbar .nav {
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;
	margin-right: 5%;

}

.navbar .navbg {
	background-color: rgba(169, 169, 169, 0.8);
}

.navbar .title {
	font-family: "impact", sans-serif;
	text-align: center;
	opacity: 1;
	font-size: 5em;
	top: 0;
	width: 100%;
	transition: 0.5s ease;
	border-bottom-color: #8fe0cd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #8fe0cd;

}

.navbar .title h1 {
	-webkit-transform: skewX(-15deg);
	-moz-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	-o-transform: skewX(-15deg);
	transform: skewX(-15deg);
	opacity: 1;
	font-size: 1.5em;
	margin-top: 0;
	width: 100%;
}

.navbar .nav .item {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	padding: 5px;
	font-weight: 300;
	line-height: 50px;
	margin-right: 5px;
	transition: 0.5s ease;
}


.navbar .nav .item a {
	text-decoration: none;
	color: #9ff7e6;
}

.navbar .socnav {
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	margin-left: 5%;
}

.navbar .ptitle {

	font-family: "impact", sans-serif;
	font-size: 0;
	float: left;
	text-align: left;
	opacity: 0;
	padding-left: 5%;
	margin-bottom: 20px;
	transition: 0.5s ease;

	-webkit-transform: skewX(-15deg);
	-moz-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	-o-transform: skewX(-15deg);
	transform: skewX(-15deg);
}

.navbar-collapse {
	background-color: rgba(101, 101, 101, 0.8);
}

.navbar .logo img {
	display: none;
}

.scrolled {
	transition: 0.5s ease;
}

.scrolled.navbar {
	height: 80px;
	background-color: rgba(143, 224, 205, 0.81);
	transition: 0.5s ease;

}

.scrolled.navbar .navbg {
	background-color: transparent;
}


.scrolled.navbar .nav .item {
	line-height: 40px;
	transition: 0.5s ease;
}

.scrolled.navbar .nav .item a {
	text-decoration: none;
	color: #000000;
}

.scrolled.navbar .title {
	max-height: 0;
	display: inline-block;
	margin-top: 0;
	font-size: 0;
	color: #000000;
	transition: 0.5s ease;
	opacity: 0;
}

.scrolled.navbar .socnav {
	margin-top: 20px;
	padding: 0;
	display: inline-block;
	float: right;
	margin-right: 5%;
	transition: 0.5s ease;
}

.scrolled.navbar .ptitle{
	text-align: left;
	font-size: 2em;
	opacity: 1;

}

.scrolled.navbar .navbar-collapse {
	background-color: transparent;
}

.scrolled.navbar button.navbar-toggle {
	background-color: transparent;
}


/* footer css*/

footer {
	height: 60px;
	background-color: #5e5e5e;
	color: #ffffff;
	text-align: center;
	padding-top: 10px;
}

/* overwrites inherited nav burger attributes */

button.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: #eaeaea;
	background-image: none;
	border: 1px solid #747474;
	border-radius: 4px;

}

span.icon-bar {
	background-color: #494949;
}

.thumbnail {
	min-height: 530px;
}

.jumbotron {
	background-color: transparent;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #9ff7e6;
}

.jumbotron em {
	background-color: #5e5e5e;
	font-style: normal;
}

.webport {
	background-color: rgb(235, 235, 235);
	padding-top: 15px;
}

.socialport {
	background-color: rgba(85, 192, 176, 0.53);
	padding-top: 15px;
}

/*.homebanner {*/
	/*background-image: url('../img/homebanner.jpg')*/
/*}*/

/*.workbanner {*/
	/*background-image: url('../img/workbanner.jpg');*/
/*}*/





/*** modifies css for mobile-view menu ***/
@media screen and (max-width: 775px) {
	/* controls css for navigational links */


	main {
		margin-top: 100px;

	}

	nav ul {
		text-align: center;

	}

	nav ul li {
		display: list-item;
		width: 100%;
	}

	.navbar .nav {
		min-width: 100%;
		margin: 0;
		padding: 0;
		display: list-item;
		color: #000000;
		background-color: rgba(255, 255, 255, 0.9);
	}

	.navbar .title h1 {
		font-size: 55px;
	}


	.scrolled.navbar .title h1 {
		font-size: 0px;
	}

	.profile {
		max-width: 275px;
		max-height: 275px;
		border-radius: 175px;
		border: 4px solid #8fe0cd;
		padding: 0 0;

	}


	/* controls css for outbound social media links */
	.navbar .socnav {

		margin: 0;
		padding: 0;
		display: list-item;
		margin-left: 5%;
		float: none;
		width: 100%;
	}



	.navbar .nav .item {
		list-style: none;
		font-size: 18px;
		background-color: white;
		padding: 5px;
		font-weight: 300;
		line-height: 50px;
		color: #000000;


	}

	.navbar .nav .item a{
		color: #000000;
	}



	.scrolled.navbar .nav .item {
		list-style: none;
		min-width: 100% !important;
		font-size: 18px;
		background-color: white;
		padding: 5px;
		font-weight: 300;
		line-height: 50px;


	}

	.scrolled.navbar .socnav {

		margin: 0;
		padding: 0;
		display: list-item;
		margin-left: 5%;
		float: none;
		width: 100%;
	}
	.navbar .socnav .item {
		list-style: none;
		display: inline-block;
		font-size: 18px;
		padding: 5px;
		font-weight: 300;
		line-height: 50px;
		margin-right: 5px;
		transition: 0.5s ease;
		background-color: white;
		float: none;
		margin-top: 0;

	}

	/*.jumbotron {*/
		/*padding-top: 30px;*/
		/*padding-bottom: 30px;*/

	/*}*/

/*.homebanner {*/
	/*background-image: url('../img/homebannermobile.jpg');*/
/*}*/

/*.workbanner {*/
	/*background-image: url('../img/workbannermobile.jpg');*/
/*}*/

}

/***
 * ZALeyba Social
 * Reactive Social Media Icons
 * hover state color inversion
 ***/



.iglogo {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/iglogo.png) center top no-repeat;

}


.iglogo:hover {
	background-image: url('../img/instagram-alt.png');

}

.tumblrlogo {
	width: 30px;
	height:30px;
	display: inline-block;
	background:transparent url('../img/tumblrlogo.png') center top no-repeat;
}

.tumblrlogo:hover {
	background-image: url('../img/tumblr-alt.png');

}

/***
modifies gallery CSS
***/

.gallery img {
	max-width: 360px;
	max-height: 360px;
	padding: 10px 10px 10px;

}
